
.chats{
      width: 50rem;
      overflow-y: scroll;
      padding: 8rem;
}

.userDiv{
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}

.gptDiv{
    text-align: left;
    font-size: 0.9rem;
}

.userMessage{
  display: flex;
  background-color: #323232;
  padding: 1rem 1.5rem;
  border-radius:.7rem;
  margin-left:30rem;
  max-width: 100%;
}

.hljs{
  border-radius:1rem !important;
}

pre{
  white-space: pre-wrap;
}